.activity-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.activities {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin: 100px 50px 100px;
}

.profile {
    background-color: rgb(192, 181, 181);
    text-align: center;
    margin-left: 20px;
}

@media screen and (max-width: 560px) {
    .activity-container {
        grid-template-columns: 1fr;
    }

    .activities {
        grid-template-columns: repeat(1, 1fr);

    }
}

@media screen and (max-width: 1080px) and (min-width: 561px) {
    .activity-container {
        grid-template-columns: 1fr 2fr;
    }

    .activities {
        grid-template-columns: repeat(2, 1fr);

    }
}