.activity-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.activities {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin: 100px 50px 100px;
}

@media screen and (max-width: 560px) {
    .activity-container {
        grid-template-columns: 1fr;
    }

    .activities {
        grid-template-columns: repeat(1, 1fr);

    }
}